### Create  Geo-Regions for: The Caribbeans, Central America

* Create new regions from  great_recession_index.csv

  * Central America: 
     'Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama'


   * Caribbean: 

  'British Virgin Islands', 'Anguilla', 'Antigua and Barbuda', 'Aruba',  'Bahamas', 'Barbados', 'Bermuda', 'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the 'Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'U.S. Virgin Islands'

* Write to new csv_file

In [1]:
# import libraries
import pandas as  pd
import matplotlib.pyplot as plt
import os

from matplotlib import style
# 
style.use('ggplot')

In [2]:
# load dataset
file_path ="../../resources/data/great_recession_index.csv"
# file_dir=os.path.join("resources")
recession_df = pd.read_csv(file_path)
recession_df

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
0,58,AFG,Afghanistan,27101000.0,2007,2.269,0.084,0.057,38.721,NaN,NaN,0.007
1,59,AFG,Afghanistan,27722000.0,2008,4.200,0.151,0.104,85.115,NaN,NaN,0.013
2,60,AFG,Afghanistan,28395000.0,2009,6.740,0.237,0.142,60.494,NaN,NaN,0.021
3,61,AFG,Afghanistan,29186000.0,2010,8.398,0.288,0.171,24.597,NaN,NaN,0.025
4,62,AFG,Afghanistan,30117000.0,2011,12.106,0.402,0.227,44.155,NaN,NaN,0.035
...,...,...,...,...,...,...,...,...,...,...,...,...
1356,23696,ZWE,Zimbabwe,12380000.0,2008,7.719,0.623,0.540,-21.508,9.293,0.751,0.024
1357,23697,ZWE,Zimbabwe,12527000.0,2009,5.476,0.437,0.362,-29.058,8.066,0.644,0.017
1358,23698,ZWE,Zimbabwe,12698000.0,2010,7.864,0.619,0.474,43.615,9.350,0.736,0.024
1359,23699,ZWE,Zimbabwe,12894000.0,2011,9.480,0.735,0.518,20.550,10.608,0.823,0.028
1360,23700,ZWE,Zimbabwe,13115000.0,2012,7.659,0.584,0.374,-19.213,10.596,0.808,0.022

#### The Caribbean

In [3]:
#create a dataframe of all carribean countries:
# filter for Carribean Countries
carb=['British Virgin Islands', 'Anguilla', 'Antigua and Barbuda', 'Aruba',  'Bahamas', 'Barbados', 'Bermuda', 'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'U.S. Virgin Islands']
caribbean_df=recession_df[recession_df.country.isin(carb)]

In [4]:
#check_df
caribbean_df

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
36,515,AIA,Anguilla,13000.0,2007,0.150,11.556,NaN,5.128,NaN,NaN,0.000
37,516,AIA,Anguilla,13000.0,2008,0.150,11.556,NaN,NaN,NaN,NaN,0.000
38,517,AIA,Anguilla,13000.0,2009,0.147,11.274,NaN,-2.439,NaN,NaN,0.000
39,518,AIA,Anguilla,13000.0,2010,0.150,11.556,NaN,2.500,NaN,NaN,0.000
40,519,AIA,Anguilla,14000.0,2011,0.143,10.207,NaN,-4.878,NaN,NaN,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
1260,21736,TCA,Turks and Caicos Islands,31000.0,2008,0.172,5.555,NaN,4.444,NaN,NaN,0.001
1261,21737,TCA,Turks and Caicos Islands,32000.0,2009,0.180,5.610,NaN,4.255,NaN,NaN,0.001
1262,21738,TCA,Turks and Caicos Islands,33000.0,2010,0.183,5.552,NaN,2.041,NaN,NaN,0.001
1263,21739,TCA,Turks and Caicos Islands,33000.0,2011,0.183,5.552,NaN,NaN,NaN,NaN,0.001
1264,21740,TCA,Turks and Caicos Islands,34000.0,2012,0.183,5.388,NaN,NaN,NaN,NaN,0.001

In [5]:
# add the sum of c02 and co2_per_capita, groupby year, create new dataframe
car_df=caribbean_df.groupby('year').sum()[['population', 'co2',
       'co2_per_capita', 'co2_per_gdp', 'co2_growth_prct', 'consumption_co2',
       'consumption_co2_per_capita', 'share_global_co2']]
car_df

,population,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
year,,,,,,,,
2007,35602000.0,112.905,143.249,3.402,110.614,57.976,22.770,0.362
2008,35891000.0,114.638,142.678,3.181,39.286,59.447,22.934,0.359
2009,36187000.0,110.816,137.193,3.491,-10.926,61.695,27.905,0.353
2010,36487000.0,120.474,145.328,3.501,123.817,62.583,27.337,0.364
2011,36802000.0,115.951,133.484,3.253,-123.960,60.018,24.250,0.337
2012,37127000.0,114.026,120.651,3.238,-12.064,61.234,24.356,0.328

In [6]:
#add country/region to cen_amer_df
#pd.Dataframe[new_column] = value 
car_df['country'] = "Caribbean"

In [7]:
car_df['iso_code']=" "

In [8]:
car_df['record_no']=" "

In [9]:
#convert index to column
car_df.reset_index(inplace=True)

In [10]:
#check columns
car_df.columns

Index(['year', 'population', 'co2', 'co2_per_capita', 'co2_per_gdp',
       'co2_growth_prct', 'consumption_co2', 'consumption_co2_per_capita',
       'share_global_co2', 'country', 'iso_code', 'record_no'],
      dtype='object')

In [11]:
#reorder columns
car_df=car_df[['record_no', 'iso_code', 'country', 'population','year', 'co2',
       'co2_per_capita', 'co2_per_gdp', 'co2_growth_prct', 'consumption_co2',
       'consumption_co2_per_capita', 'share_global_co2']]

In [12]:
#check_dataframe
car_df

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
0,,,Caribbean,35602000.0,2007,112.905,143.249,3.402,110.614,57.976,22.770,0.362
1,,,Caribbean,35891000.0,2008,114.638,142.678,3.181,39.286,59.447,22.934,0.359
2,,,Caribbean,36187000.0,2009,110.816,137.193,3.491,-10.926,61.695,27.905,0.353
3,,,Caribbean,36487000.0,2010,120.474,145.328,3.501,123.817,62.583,27.337,0.364
4,,,Caribbean,36802000.0,2011,115.951,133.484,3.253,-123.960,60.018,24.250,0.337
5,,,Caribbean,37127000.0,2012,114.026,120.651,3.238,-12.064,61.234,24.356,0.328

In [13]:
# append end onf recession_df, with #continous index value, ignore_index=True
recession_df=recession_df.append(car_df,ignore_index=True )

In [14]:
#check tail dataframe
recession_df.tail()

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
1362,,,Caribbean,35891000.0,2008,114.638,142.678,3.181,39.286,59.447,22.934,0.359
1363,,,Caribbean,36187000.0,2009,110.816,137.193,3.491,-10.926,61.695,27.905,0.353
1364,,,Caribbean,36487000.0,2010,120.474,145.328,3.501,123.817,62.583,27.337,0.364
1365,,,Caribbean,36802000.0,2011,115.951,133.484,3.253,-123.960,60.018,24.250,0.337
1366,,,Caribbean,37127000.0,2012,114.026,120.651,3.238,-12.064,61.234,24.356,0.328

#### Central America

In [15]:
#create a dataframe for countries in Central America
#filter for Central American Countries
ca=['Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama']
central_america_df=recession_df[recession_df.country.isin(ca)]

In [16]:
central_america_df.head()

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
132,2701,BLZ,Belize,299000.0,2007,0.476,1.593,NaN,7.438,NaN,NaN,0.002
133,2702,BLZ,Belize,307000.0,2008,0.436,1.420,NaN,-8.462,NaN,NaN,0.001
134,2703,BLZ,Belize,315000.0,2009,0.517,1.640,NaN,18.487,NaN,NaN,0.002
135,2704,BLZ,Belize,322000.0,2010,0.539,1.673,NaN,4.255,NaN,NaN,0.002
136,2705,BLZ,Belize,330000.0,2011,0.557,1.688,NaN,3.401,NaN,NaN,0.002

In [17]:
central_america_df.columns

Index(['record_no', 'iso_code', 'country', 'population', 'year', 'co2',
       'co2_per_capita', 'co2_per_gdp', 'co2_growth_prct', 'consumption_co2',
       'consumption_co2_per_capita', 'share_global_co2'],
      dtype='object')

In [18]:
# add the sum of c02 and co2_per_capita,etc, per country, groupby year, create new dataframe
cen_amer_df=central_america_df.groupby(['year']).sum()[['population', 'co2',
       'co2_per_capita', 'co2_per_gdp', 'co2_growth_prct', 'consumption_co2',
       'consumption_co2_per_capita', 'share_global_co2']]
cen_amer_df

,population,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
year,,,,,,,,
2007,41363000.0,47.772,9.405,1.154,48.716,56.894,8.450,0.153
2008,42072000.0,45.922,8.951,1.090,-28.211,60.430,9.516,0.144
2009,42786000.0,46.958,9.294,1.084,30.771,67.766,11.976,0.150
2010,43497000.0,46.949,9.305,1.029,4.912,77.798,14.267,0.141
2011,44213000.0,48.996,9.582,1.006,30.826,71.248,11.816,0.143
2012,44930000.0,49.040,9.065,0.972,-20.570,86.232,15.240,0.141

In [19]:
central_america_df.groupby(['year', 'country']).sum()['co2']

year  country
2007  Belize          0.476
      Costa Rica      7.961
      El Salvador     6.846
      Guatemala      12.145
      Honduras        8.598
      Nicaragua       4.550
      Panama          7.196
2008  Belize          0.436
      Costa Rica      7.991
      El Salvador     6.405
      Guatemala      10.893
      Honduras        8.518
      Nicaragua       4.365
      Panama          7.314
2009  Belize          0.517
      Costa Rica      7.749
      El Salvador     6.313
      Guatemala      11.442
      Honduras        8.073
      Nicaragua       4.445
      Panama          8.419
2010  Belize          0.539
      Costa Rica      7.494
      El Salvador     6.317
      Guatemala      11.098
      Honduras        7.959
      Nicaragua       4.469
      Panama          9.073
2011  Belize          0.557
      Costa Rica      7.309
      El Salvador     6.500
      Guatemala      11.238
      Honduras        8.635
      Nicaragua       4.805
      Panama          9.952
2012  Belize          0.451
      Costa Rica      7.259
      El Salvador     6.469
      Guatemala      11.559
      Honduras        8.989
      Nicaragua       4.545
      Panama          9.768
Name: co2, dtype: float64

In [20]:
#add country/region to cen_amer_df
#pd.Dataframe[new_column] = value 
cen_amer_df['country'] = "Central America"

In [21]:
cen_amer_df['iso_code']=" "

In [22]:
cen_amer_df['record_no']=" "

In [23]:
#convert index to column
cen_amer_df.reset_index(inplace=True)

In [24]:
cen_amer_df.columns

Index(['year', 'population', 'co2', 'co2_per_capita', 'co2_per_gdp',
       'co2_growth_prct', 'consumption_co2', 'consumption_co2_per_capita',
       'share_global_co2', 'country', 'iso_code', 'record_no'],
      dtype='object')

In [25]:
#reorder columns
cen_df=cen_amer_df[['record_no', 'iso_code', 'country', 'population','year', 'co2',
       'co2_per_capita', 'co2_per_gdp', 'co2_growth_prct', 'consumption_co2',
       'consumption_co2_per_capita', 'share_global_co2']]

In [26]:
#check_dataframe
cen_df

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
0,,,Central America,41363000.0,2007,47.772,9.405,1.154,48.716,56.894,8.450,0.153
1,,,Central America,42072000.0,2008,45.922,8.951,1.090,-28.211,60.430,9.516,0.144
2,,,Central America,42786000.0,2009,46.958,9.294,1.084,30.771,67.766,11.976,0.150
3,,,Central America,43497000.0,2010,46.949,9.305,1.029,4.912,77.798,14.267,0.141
4,,,Central America,44213000.0,2011,48.996,9.582,1.006,30.826,71.248,11.816,0.143
5,,,Central America,44930000.0,2012,49.040,9.065,0.972,-20.570,86.232,15.240,0.141

In [27]:
# append end of recession_df, with #continous index value, ignore_index=True
recession_df=recession_df.append(cen_df,ignore_index=True )

In [28]:
recession_df.tail()

,record_no,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
1368,,,Central America,42072000.0,2008,45.922,8.951,1.090,-28.211,60.430,9.516,0.144
1369,,,Central America,42786000.0,2009,46.958,9.294,1.084,30.771,67.766,11.976,0.150
1370,,,Central America,43497000.0,2010,46.949,9.305,1.029,4.912,77.798,14.267,0.141
1371,,,Central America,44213000.0,2011,48.996,9.582,1.006,30.826,71.248,11.816,0.143
1372,,,Central America,44930000.0,2012,49.040,9.065,0.972,-20.570,86.232,15.240,0.141

#### Write to new CSV file

In [29]:
#drop record_no column from recession_df, df.drop(['B', 'C'], axis=1)
#df=df.drop(columns=['B', 'C'])
recession_df=recession_df.drop(['record_no'], axis=1)

In [30]:
#check dataframe
recession_df.tail()

,iso_code,country,population,year,co2,co2_per_capita,co2_per_gdp,co2_growth_prct,consumption_co2,consumption_co2_per_capita,share_global_co2
1368,,Central America,42072000.0,2008,45.922,8.951,1.090,-28.211,60.430,9.516,0.144
1369,,Central America,42786000.0,2009,46.958,9.294,1.084,30.771,67.766,11.976,0.150
1370,,Central America,43497000.0,2010,46.949,9.305,1.029,4.912,77.798,14.267,0.141
1371,,Central America,44213000.0,2011,48.996,9.582,1.006,30.826,71.248,11.816,0.143
1372,,Central America,44930000.0,2012,49.040,9.065,0.972,-20.570,86.232,15.240,0.141

In [31]:
recession_df.shape

(1373, 11)

In [33]:
# write to dataframe cleaned data to csv
# export to csv file
file_path ="../../resources/data/great_recession_fp.csv"
recession_df.to_csv(file_path,index_label='record_no', index=True)